* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --color-primary: #ff014f;
    --color-secondary: #f4f5f6;
    --color-tertiary: #0d1013;
    --color-gray: #f6f6f6;
    --color-subtitle: #f9004d;

    --color-light: #E4E6EA;


    --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-color-2: #212428;

    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

}

.header-top {
    background-image: url();
}

.left-head {
    margin: auto;
}

.header-top {
    padding: 0px 25px;
    background-color: var(--background-color-2);
}

.logo a,
.menu-header a {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-light);
}

.header-center {
    display: flex;
    justify-content: end;

}

.primary-menu ul {
    display: flex;
    margin-bottom: 0;
}

.primary-menu ul li {
    list-style: none;
    padding: 20px 30px;

}

.primary-menu ul li a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.primary-menu ul li a:hover {
    color: white;
}




.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inner-menu {
    width: 375px;
    padding: 25px 40px;
    background-color: var(--background-color-2);
}

.discription {
    font-size: 15px;
    color: var(--color-light);
    margin: 20px 0px;
}

.menu-top {
    border-bottom: 1px solid beige;
}

.content ul li {
    list-style: none;
    margin: 20px 0px;

}

.content ul {
    padding: 0;
    display: flex;
    flex-direction: column;

}

.content ul a,
.social-title {
    text-decoration: none;
    color: var(--color-light);
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.content {
    border-bottom: 1px solid beige;
}


.social-title {
    word-spacing: 3px;
    letter-spacing: 2px;
}

.fa-brands {
    font-size: 30px;
    color: var(--color-light);
    padding: 20px;
    background: #5d6060;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.fa-brands:hover {

    transform: translateY(-6px);
}

.social-title i {
    font-size: 10px;
}

i.fa-brands.fa-facebook-f {
    padding: 20px 24px;

}

.social-share {
    margin-top: 20px;
}

.social-share li {
    padding: 30px 0px;
}

i#closeButton {
    font-size: 31px;
    transition: transform 0.3s ease-out;
}

i#closeButton:hover {
    transform: rotate(45deg);
}

.inner-menu {
    display: none;
    transform: translateX(-100%);
    animation: slideIn 1s ease;
}

.menu-open {
    display: block;
    transform: translateX(0);
    animation: slideOut 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.menu-close2 div {
    height: 3px;
    width: 41px;
    border-radius: 6px;
    margin: 5px 0px;
    background: var(--color-primary);

}

.inner-menu {
    display: none !important;
}

.menu-open {
    display: block !important;
    /* Override display none */
}

div#openmenu {
    background: #724a4a;
    margin: 5px;
    display: flex;
    padding: 0px 8px;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
}

div#openmenu:hover {
    box-shadow: 1px 0px 4px 4px var(--color-secondary);
}

@media screen and (min-width: 1200px) {
    .menu-close2 {
        display: none !important;
    }

    .menu-open {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .header-center {
        display: none;
    }
}

.main-head {
    background-color: var(--background-color-2);
    padding: 80px 0px;
}

.subtitle {
    word-spacing: 2px;
    color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title,
.span {
    color: var(--color-secondary);
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
    overflow-y: hidden;
}

.title span {
    color: #f9004d;
}

.main-brand {
    box-shadow: var(--shadow-1) !important;
    background-color: var(--background-color-2);
}

.thumbnail {
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 5px;
}

.inner-thum img {
    width: 100%;
    padding: 15px;
}

.disc p {
    font-size: 17px;
    margin-bottom: 100px;
}

.social-share-inner {
    margin: 50px 0px;
}

.social-shasre {
    margin: 20px 0px !important;
}

.popup-mobile-menu.menu-open {
    position: fixed;
}

.sa {
    border-bottom: 2px solid #aea5a5;

}

.asa {
    background-color: var(--background-color-2);
}

.experience-area {
    background-color: var(--background-color-2);
    padding: 80px 0px;
}

.experience-area .subtitle {
    color: #f9004d;
    text-transform: uppercase;
}

.exp-img img {
    max-width: 100%;
    /* height: 300px; */
    border-radius: 8px;
    /* overflow: hidden; */
}

.date,
.experience-title {
    color: var(--color-gray);
}

.disc {
    color: var(--color-light);
}

.left-exp {
    display: flex;
    align-items: center;
    flex-basis: 80%;
    flex-wrap: wrap;
}

.exp-cont {
    /* padding-left: 30px; */
}

.sub-date {
    background: #00000045;
    display: inline-block;

    padding: 10px 15px;

    border-radius: 19px;
}
@media only screen and (max-width: 767px) {
    .left-head.oihgf {
        margin: 15px 0;
    }
}
